<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>test</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link  th:href="@{/styles.css}" rel="stylesheet">

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div id="container">
<nav>
  <a class="nav-link" href="/test">home</a>
  <a class="nav-link" href="/about">about</a>
  <a class="nav-link" href="/list">vocabulary list</a>
  <a class="nav-link" href="/new">Add vocab</a>

  <button id="btn-mobile-options" class="btn-mobile">
    <ion-icon id="icon-mobile-options"name="settings-outline"></ion-icon>
  </button>

  <button id="btn-mobile-nav" class="btn-mobile">
  <ion-icon id="icon-mobileNav-open" name="menu-outline"></ion-icon>
  <ion-icon id="icon-mobileNav-close" class="not-displayed" name="close-outline"></ion-icon>
  </button>
</nav>
<div id="app">

  <div id="control-panel">
    <div id="trans-dir-box">
    <p id="transDirection" class="panel-button">Translation: </p>
    <button id="translation" class="btn">JAP : KOR</button>
    </div>

    <br>

    <div id="control-box" class="hidden-control-panel">
    <p class="show-lang">Show English</p>
    <input type="checkbox" id="show-english"
           class="checkbox btn"/>
    <label for="show-english" class="toggle">
      <p class="onOff">OFF ON</p>
    </label>
    <p class="show-lang">Show Polish</p>
    <input type="checkbox" id="show-polish"
           class="checkbox btn"/>
    <label for="show-polish" class="toggle">
      <p class="onOff">OFF ON</p>
    </label>
    </div>

    <div id="score-box">
    <p id="correct" class="nbr"></p>
    <p id="wrong" class="nbr"></p>
      </div>

  </div>

  <div id="main-box">

    <div id="displayed-word-box">
      <h1 id="displayed-word"></h1>
      <p id=englishWord></p>
      <p id=polishWord></p>
    </div>

    <div id="mobile-nav" class="hidden">
      <a class="mobile-nav-link" href="/test">home</a>
      <a class="mobile-nav-link" href="/about">about</a>
      <a class="mobile-nav-link" href="/list">vocabulary list</a>
      <a class="mobile-nav-link" href="/new">Add vocab</a>
    </div>

    <div id="answer-box">
      <input
              id="enter-word"
              type="text"
              placeholder="Enter your answer"
              autocomplete="off"
      >
      <input id='check' type="button" value="Check">
    </div>

    <div id="feedback-box">
      <h2 id="feedback"></h2>
      <h2 id="answer"></h2>
    </div>
  </div>

  <div id="word-array-box">
    <p id="word-1"></p>
    <p id="word-2"></p>
    <p id="word-3" ></p>
    <p id="word-4"></p>
    <p id="word-5"></p>
    <p id="word-6"></p>
    <p id="word-7"></p>
    <p id="word-8"></p>
    <p id="word-9"></p>
    <p id="word-10"></p>
  </div>


  <script th:inline="javascript">
      'use strict';
      let japaneseWords = [[${japaneseWords}]];
      let koreanWords = [[${koreanWords}]];
      let englishWords = [[${englishWords}]];
      let polishWords = [[${polishWords}]];
      let wordsArray = [];
      let highlightedWord;
      let wordIndex;
      let answerKor;
      let answerJpy;
      let answerKorArr = [];
      let answerJpyArr = [];
      let index;
      let newRandomNumber;
      let correctNbr = 0;
      let wrongNbr = 0;
      let japToKor = true;
      const viewportWidth = window.innerWidth;
      const isMobile = viewportWidth <= 560;

      const displayedWord = document.getElementById('displayed-word');

      document.getElementById('correct').textContent = `Correct answers: ${correctNbr}`;
      document.getElementById('wrong').textContent = `Wrong answers:\u00A0 ${wrongNbr}`;

      const newWordsArray = function (vocab) {
        wordsArray = [...new Array(10)]
          .map(() => vocab[Math.round(Math.random() * vocab.length)]);

        updateWords();
        document.getElementById(`word-1`).style.color = '#ff4800';
        return wordsArray;
      }

      const checkLength = function () {
        if (isMobile) {
          displayedWord.textContent.length > 7 ?
                  displayedWord.style.fontSize='5rem'
                  :
                  displayedWord.style.fontSize='9rem';
        } else {
          displayedWord.textContent.length > 7 ?
                  displayedWord.style.fontSize='2.5rem'
                  :
                  displayedWord.style.fontSize='5rem';
        }
      }

      const newWord = function () {
        newRandomNumber = Math.trunc(Math.random() * wordsArray.length);
        let randomWord = wordsArray[newRandomNumber];
        wordIndex = japToKor ? japaneseWords.indexOf(randomWord) : koreanWords.indexOf(randomWord);
        document.getElementById('displayed-word').textContent = randomWord;
        checkLength();
        answerKor = koreanWords[wordIndex];
        answerJpy = japaneseWords[wordIndex];
        vocToTrimmedVocArr( answerKor, answerKorArr);
        vocToTrimmedVocArr(answerJpy, answerJpyArr);
        document.getElementById('polishWord').textContent = polishWords[wordIndex];
        document.getElementById('englishWord').textContent = englishWords[wordIndex];
        document.getElementById("enter-word").value = "";
        // console.log(wordsArray.indexOf(randomWord));
        updateWords();
        highlightedWord = document.getElementById(`word-${wordsArray.indexOf(randomWord) + 1}`)
                .style.color = '#ff4800';
      }

      const updateWords = function () {
        if (wordsArray.length === 0) {
          document.querySelector('.word-array-box').style.height = '';
          newWordsArray(japToKor ? japaneseWords : koreanWords);
        }
        wordsArray.forEach((word, i) => {

          document.getElementById(`word-${i + 1}`).textContent = word;
          document.getElementById(`word-${i + 1}`).style.color = '#495057';

          if (wordsArray.length < 10) {
            document.getElementById(`word-${wordsArray.length + 1}`).textContent = '';
          }
        })
      }

      const switchTransDir = function () {
        console.log('switched')
        document.getElementById('translation').textContent = japToKor ? `KOR : JAP` : 'JAP : KOR';
        japToKor = !japToKor;
        document.getElementById('word-array-box').style.height = '';
        newWordsArray(japToKor ? japaneseWords : koreanWords);
        newWord();
      }

      document.getElementById('translation').addEventListener('click', switchTransDir);

      const hideShowLang = function (selectedSwitch, word) {
        document.getElementById(`${selectedSwitch}`).addEventListener("click", function () {
          let display = document.getElementById(`${word}`);
          display.style.display === "grid" ? display.style.display = "none"
                  :
                  display.style.display = "grid";
        })
      }

      const correctAnswer = function () {
        newWord();
        correctNbr++;
        document.getElementById('correct').textContent = `Correct answers: ${correctNbr}`;
        document.getElementById('feedback').textContent = `Correct answer! 😊 Congratulations!🎉`;
        setTimeout(function () {
          document.getElementById('feedback').textContent = ``;
        }, 2000);
      };

      const wrongAnswer = function () {
        newWord();
        ++wrongNbr;
        document.getElementById('wrong').textContent = `Wrong answers: ${wrongNbr}`;
        setTimeout(function () {
          document.getElementById('feedback').textContent = ``;
          document.getElementById('answer').textContent = ``;
        }, 3500);
      };

      const vocToTrimmedVocArr = function (text, newArr) {
        const arr = text.split(",");
        arr.forEach(function (word, i, arr) {
          newArr[i] = word.trim();
        });
      };

      const checkAnswer = function () {
        let input = document.getElementById("enter-word").value;
        if (japToKor) {
          if (input === answerKor || answerKorArr.includes(input) && input !== "") {
            wordsArray.splice(newRandomNumber, 1);
            updateWords();
            correctAnswer();
          } else {
            document.getElementById('feedback').textContent =
              `wrong answer! 😢 \r\n Correct answer was: `;
            document.getElementById('answer').textContent = `${answerKor}`;
            wrongAnswer();
          }
        }

        if (!japToKor) {
          if (input === answerJpy || answerJpyArr.includes(input) && input !== "") {
            wordsArray.splice(wordsArray.indexOf(wordsArray[newRandomNumber]));
            wordsArray.splice(index, 1);
            updateWords();
            correctAnswer();
            if (wordsArray.length === 0) newWordsArray(koreanWords);
          } else {
            document.getElementById('feedback').textContent =
              `wrong answer! 😢  \r\n Correct answer was: `;
            document.getElementById('answer').textContent = `${answerJpy}`;
            wrongAnswer();
          }
        }
      };

      document.getElementById('enter-word').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') checkAnswer();
      });

      document.querySelector('#check').addEventListener('click', checkAnswer);

      // *** MOBILE *** //

      const mobileNav = document.getElementById('mobile-nav');
      const displayedWordBox = document.getElementById('displayed-word-box');
      const answerBox = document.getElementById('answer-box');
      const iconMobNavOpen = document.getElementById('icon-mobileNav-open');
      const iconMobNavClose = document.getElementById('icon-mobileNav-close');
      const controlBox = document.getElementById('control-box');
      const wordArrayBox = document.getElementById('word-array-box');
      const scoreBox = document.getElementById('score-box');
      const transDirBox = document.getElementById('trans-dir-box');

      console.log(viewportWidth, isMobile);

      const checkMobile = function () {
        isMobile ? controlBox.classList.add('hidden-control-panel')
                   :
                   controlBox.classList.remove('hidden-control-panel');
      }

      if (isMobile) checkMobile();

      const showCtrlPanel = function () {

        controlBox.classList.toggle('hidden-control-panel');
        displayedWordBox.classList.toggle('hidden')
        answerBox.classList.toggle('hidden');
      };

      const showMobileNav = function () {
        displayedWordBox.classList.toggle('hidden');
        answerBox.classList.toggle('hidden');
        mobileNav.classList.toggle('hidden');
        wordArrayBox.classList.toggle('hidden');
        transDirBox.classList.toggle('hidden');
        scoreBox.classList.toggle('hidden');

        if (iconMobNavClose.style.display==='grid') {
          iconMobNavOpen.style.display='grid';
          iconMobNavClose.style.display='none';
          mobileNav.style.gap='0';
          mobileNav.style.fontSize='0.1rem';
        } else {
          iconMobNavOpen.style.display='none';
          iconMobNavClose.style.display='grid';
          mobileNav.style.gap='10rem';
          mobileNav.style.fontSize='5rem';
          mobileNav.style.marginTop='10rem';
        }
      }

      document.getElementById('icon-mobile-options').addEventListener('click', showCtrlPanel);
      document.getElementById('btn-mobile-nav').addEventListener('click', showMobileNav);

      // *** ONLOAD *** //

      window.onload = function () {
        newWordsArray(japaneseWords);
        newWord();
        hideShowLang('show-polish', 'polishWord');
        hideShowLang('show-english', 'englishWord');
        checkMobile();
      }

    </script>
  </div>
</div>

</body>
</html>
